<div class="max-w-2xl mx-auto p-6">
 <div class="bg-white rounded-lg shadow-sm p-6">
   <h1 class="text-2xl font-bold mb-6">Edit Comment</h1>

   <%= render partial: 'comments/partial/comments_form', locals: {project: @project, comment: @comment} %>

   <%= link_to "Back to Project", @project, class: "mt-4 inline-block text-gray-600 hover:text-gray-900" %>
 </div>
</div>
